.body {
    min-height: 100vh;
}

.bg-nav {
    background-color: #e1f2fb;
}
.userImg {
    border-radius: 50%;
    height: 50px;
}
.card-header {
    display: flex;
    justify-content: space-between;
}
.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

.card {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1f2fb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    background-color: #e1f2fb;
}
.card:hover {
    transform: scale(1.02);
}

.foodImg {
    width: 100%;
    padding: 20px;
    border-radius: 25%;
}
.modalToolsIngredients {
    border: solid indigo;
}
