/* Tried to target only the tags inside the carousel component for the styling.
    I can add image captions once we agree on media queries the h1 tag isn't automatically 
    responsive in bootstrap. I tend to convert 1rem to 10 px instead of having it at default
    at 10px
*/

.carouselContainer {
    margin-top: 1rem;
    background-image: linear-gradient(to right, rgb(2, 47, 65), rgb(83, 5, 5));
}

.carouselContainer h1 {
    color: rgb(238, 234, 234);
    text-align: center;
}

.carousel-item img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
}